
  
  @media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
  
    }

  
  @media screen and (max-width: 800px) {
    
    #events,
    #home,
    #gallery,
    #wedding-party,
    #registry,
    #rsvp,
    #faq {
      flex-wrap: wrap;
    }

    .logo {
      font-size: 1.5rem;
    }
   
  }