/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

.spacing {
  margin-bottom: 13%;
}

.spacing-gallery {
  margin-bottom: 19%;
}

.spacing-registry {
  margin-bottom: 19%;
}

.spacing-rsvp {
  margin-bottom: 33%;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
  z-index: 9999;
}

nav {
  background-color: white;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 12vh;
}

#desktop-nav {
  position: fixed;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
  position: fixed;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 450px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* MAIN IMAGE */

.main-image-container {
  display: flex;
  justify-content: center;
  
}

.main-image {
  width: 100%;
  padding-bottom: 5rem;
  padding-top: 6.5rem;
}

/* COUNTDOWN TIMER */

.countdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  margin: 0 auto;
  text-align: center;
}

.countdown-h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}

.countdown-li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.countdown-li-span {
  display: block;
  font-size: 4.5rem;
}

/* EVENTS */

.event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  margin: 0 auto;
  text-align: center;
  padding-top: 5rem;
}

.h1-event {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
  font-size: 4rem;
  padding-bottom: 2rem;
}

.h2-event {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.p-event {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}

.first-event {
  padding-bottom: 2rem;
}

.directions-button {
  padding: 10px 35px;
  font-size: 1.5rem;
  font-weight: normal;
  background: white;
  color: black;
  border-radius: 10px;
  border: 1px solid black;
  transition: all 80ms ease-in-out;
  cursor: pointer;
  box-shadow: 5px 5px 0px 0px black;
}

.directions-button:active {
  translate: 5px 5px;
  box-shadow: 0px 0px 0px 0px black, 0 0 42px 10px #00000012;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  margin: 0 auto;
  text-align: center;
  padding-top: 2rem;
}

/* GALLERY */

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  margin: 0 auto;
  text-align: center;
  padding-top: 5rem;
}


.h1-gallery {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
  font-size: 4rem;
  padding-bottom: 2rem;
}

  #slider{
  width:80%;
  margin:0px auto;
  max-width: 600px;
  overflow:hidden;
  border: 10px solid white;
  box-shadow:2px 5px 10px rgba(0,0,0,0.4);;
  }
  
  .slide{
  width:100%;
  display:none;
  animation-name:fade;
  animation-duration:1s;
  
  }
  img{
  width:100%;
  }
  @keyframes fade{
  from{opacity:0.5;}
  to{opacity:1;}
  }
  
  .controls{
  display: none;
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  font-size:1.5em;
  padding:15px 10px;
  border-radius:5px;
  background-color: white;
  }
  
  .controls:hover{
  background:beige;
  transition:0.3s;
  }
  
  .controls:active{
  color:grey;
  }
  
  #left-arrow{
  left:10px;
  }
  
  #right-arrow{
  right:10px;
  }
  
  #dots-con{
  
  text-align:center;
  }
  .dot{
  display:inline-block;
  background:grey;
  padding:8px;
  border-radius:50%;
  margin:10px 5px;
  }
  
  .active{
  background:rgb(7, 67, 213);
  }
  
  @media (max-width:576px){
  #slider{width:100%;
  
  }
  
  .controls{
    font-size:1em;
  }
  
  #dots-con{
    display:none;
  }
  }

  /* WEDDING PARTY */
  
  .wedding-party-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
    margin: 0 auto;
    text-align: center;
    padding-top: 5rem;
  }
  
  .h1-wedding-party {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
    font-size: 4rem;
    padding-bottom: 2rem;
  }

  .wedding-party-member {
    display: flex;
    flex-direction: column;
  }

  .wedding-party-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
    padding-left: 1rem;
    width: 100%;
  }


  .wedding-party-name {
    font-size: 1.5rem;
  }
  

  
  
figure.snip1113 {
  display: inline-block;
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 400px;
  width: 100%;
  background: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.snip1113 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

figure.snip1113 img {
  max-width: 75%;
  margin: 40px auto;
  display: block;
  position: relative;
  border: 3px solid #666666;
  padding: 15px 15px 85px 15px;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

figure.snip1113 figcaption {
  position: absolute;
  height: 120px;
  bottom: 0px;
  left: 0;
  right: 0;
  display: block;
}

figure.snip1113 h3 {
  background-color: #ffffff;
  color: #000000;
  font-size: 1.7em;
  width: 100%;
  padding: 5px 12px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
}

figure.snip1113 h3 span {
  font-weight: 800;
}

figure.snip1113 h4 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: -1px;
  opacity: 0.6;
  font-size: 1.1em;
}

figure.snip1113.blue img {
  border-color: #2472a4;
}

figure.snip1113.blue h3,
figure.snip1113.blue h4 {
  color: #2472a4;
}

figure.snip1113.red img {
  border-color: #ab3326;
}

figure.snip1113.red h3,
figure.snip1113.red h4 {
  color: #ab3326;
}

figure.snip1113.yellow img {
  border-color: #e08e0b;
}

figure.snip1113.yellow h3,
figure.snip1113.yellow h4 {
  color: #e08e0b;
}

figure.snip1113.green img {
  border-color: #229955;
}

figure.snip1113.green h3,
figure.snip1113.green h4 {
  color: #229955;
}

figure.snip1113.orange img {
  border-color: #d67118;
}

figure.snip1113.orange h3,
figure.snip1113.orange h4 {
  color: #d67118;
}

figure.snip1113.navy img {
  border-color: #2b3c4e;
}

figure.snip1113.navy h3,
figure.snip1113.navy h4 {
  color: #2b3c4e;
}

/* REGISTRY */

.registry-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  margin: 0 auto;
  text-align: center;
  padding-top: 5rem;
}

.h1-registry {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
  font-size: 4rem;
  padding-bottom: 2rem;
}

 /* RSVP */
  
 .rsvp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  margin: 0 auto;
  text-align: center;
  padding-top: 5rem;
}

.h1-rsvp {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
  font-size: 4rem;
  padding-bottom: 2rem;
}

.visible{
  display:block;
}

.invisible{
  display: none;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#form-container {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
    font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  width: 60%;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

.form-header {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1rem;
}

.underline {
 
  margin: -0.512em auto;
  width: 80px;
}


input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}




select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.name {
	width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #474544;
}

:-moz-placeholder { 
	color: #474544;
	opacity: 1;
}

::-moz-placeholder {
	color: #474544;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #form-container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}

/* FAQ */

.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  margin: 0 auto;
  text-align: center;
  padding-top: 5rem;
}

.h1-faq {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
  font-size: 4rem;
  padding-bottom: 2rem;
}

.question {
  padding-bottom: 2rem;
}

.h2-faq {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.p-faq {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}

/* FOOTER */
footer {
  text-align: center;
}